# Ignorar bytecode de Python
__pycache__/
*.py[cod]

# Ignorar entornos virtuales
venv/
.venv/
ENV/
env/

# Ignorar archivos de entorno
.env
variables.env

# (Opcional) Ignorar la carpeta de configuración de VS Code 
# (Solo si NO quieres compartir configuraciones de depuración con tu equipo)
.vscode/

# Otros archivos que no quieras subir
*.log
agenda.json
